{{define "head"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/goupics.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">{{.Title}}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
	      <li {{if eq "home" .Name}}class="active"{{end}}>
		<a href="/home.html">Home</a>
	      </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div id="home-carousel" class="carousel slide">
            <div class="carousel-inner">
	      {{range $index, $elem := .Carousel}}
	      <div class="item{{if eq $index 0}} active{{end}}">
		{{range $key, $value := $elem}}
		{{if eq $key "image"}}
                <img src="/static/carousel/{{$value}}" />
		{{end}}
		{{if eq $key "description"}}
		<div class="carousel-caption">
                  <p>{{$value}}</p>
                </div>
		{{end}}	  
		{{end}}
	      </div>
	      {{end}}
            </div>
            <a class="left carousel-control my-carousel-control" href="#home-carousel" data-slide="prev">‹</a>
            <a class="right carousel-control my-carousel-control" href="#home-carousel" data-slide="next">›</a>
          </div>
        </div>
      </div>
      
      <div class="row">
	<div class="span12">
{{end}}

{{define "tail"}}
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<footer>
	  <p class="pull-right"><a href="#">back to top</a></p>
	  <p><a href="http://mxs.sbrk.org">Sébastien Rannou</a> - <i>powered by <a href="http://sbrk.org/">sbrk.org</a></i></p>
	</footer>
	</div>
      </div>
    </div>    
  </body>
</html>
{{end}}
