{{define "galleries"}}
{{template "head" .}}

<h1>Galleries</h1>

<ul class="thumbnails">
  {{range $gallery := .Galleries}}
  <li class="span4">
    <div class="thumbnail">
      <a href="/gallery/{{.Directory}}.html">
	<img src="/static/galleries/{{.Cover}}" />
      </a>
      <div class="caption">
	<a href="/gallery/{{.Directory}}.html">
          <h5>{{.Title}}</h5>
	</a>
      </div>
    </div>
  </li>
  {{end}}
</ul>

<a href="/home.html" class="btn btn-primary btn-large">
  Back to home
</a>

{{template "tail" .}}
{{end}}
